main {
	display: flex;
	flex-direction: column;
	gap: 550px;

	@include media(desktop) {
		gap: 180px;
	}
}

/* -------------- Header -------------- */

.header {
	.container {
		justify-content: space-between;
		align-items: center;
	}

	margin: 36px 0;

	@include media(desktop) {
		margin: 55px 0;
	}
}

.logo {
	@include fz-lh(24, 36);

	@include media(desktop) {
		@include fz-lh(36, 54);
	}
}

.header-menu-wrapper {
	display: none;

	@include media(tablet) {
		display: flex;
		align-items: center;
	}
}

.header-nav-list {
	display: flex;
	gap: $menu-items-spacing;
}

.header-nav-link {
	@extend .link;
	line-height: calc(30 / 20);
	display: inline-block;
	padding: 20px 0;
}

.header-button {
	@extend .button, .unfilled;

	@include media(desktop) {
		padding: 20px 56px;
		min-width: 312px;
		@include fz-lh(20, 30);
		margin-left: 120px;
	}
}

/* -------------- Hero -------------- */

.hero {
	.container {
		@include media(desktop) {
			display: flex;
			flex-direction: row-reverse;
			column-gap: 144px;
		}
	}
	// flex-direction: column-reverse;
}

.hero-title {
	@extend .section-title;
	@include fz-lh(24, 36);

	@include media(desktop) {
		@include fz-lh(64, 80);
		margin-bottom: 40px;
	}
}

.hero-description {
	@extend .description;
	@include fz-lh(14, 21);

	@include media(desktop) {
		@include fz-lh(24, 36);
		margin-bottom: 60px;
		// max-width: 540px;
	}
}

.hero-button {
	@extend .button;
	@include fz-lh(16, 24);

	@include media(desktop) {
		@include fz-lh(36, 54);
		min-width: 426px;
		padding: 23px 64px;
	}
}

/* -------------- Skills -------------- */

section.skills {
	.container {
		flex-direction: column;
		// align-items: center;
	}

	.section-title {
		align-self: center;
	}

	.subsection-title {
		line-height: calc(45 / 30);
	}
}

.skill {
	background-color: $skill-bg;
	border-radius: 10px;
	padding: 32px 18px;

	.description {
		font-size: 16px;
		line-height: calc(24 / 16);
	}
}

// Grid-generator by Sarah Edo https://cssgrid-generator.netlify.app

.grid-container {
	display: grid;
	height: 980px;
	margin-top: 0;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.speaking {
	grid-area: 1 / 1 / 4 / 2;
}

.writing {
	grid-area: 1 / 2 / 3 / 3;
}

.reading {
	grid-area: 1 / 3 / 3 / 4;
}

.listening {
	grid-area: 3 / 2 / 4 / 4;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.skill .content {
	width: 360px;
}

.skill.listening .content {
	width: 330px;
}

/* -------------- About Us -------------- */

section.about {
	//
	.container {
		@include media(desktop) {
			display: flex;
			flex-direction: row-reverse;
			column-gap: 144px;
		}
	}
}

.about p {
	font-size: 20px;
	line-height: calc(36 / 20);
}

.group-41 {
	display: flex;
	justify-content: space-around;
	justify-content: center;

	gap: 131px;
	text-align: center;

	.description {
		line-height: calc(30 / 20);
	}
}

.count {
	color: $count-gray;
	font-weight: 600;
	font-size: 48px;
	line-height: calc(72 / 48);
	margin-bottom: 0;
}

/* -------------- Pricing -------------- */

section.pricing {
	.container {
		// gap: 0;
		flex-direction: column;
		// align-items: center;
	}

	.section-title {
		align-self: center;
	}

	.subsection-title {
		line-height: calc(48 / 30);
	}
}

.price-cards {
	display: flex;
	gap: 30px;
}

// .price-labels {
// 	display: flex;
// 	gap: 30px;
// }

.price-card {
	@include flex-basis(3);
}

.price-card-label {
	width: 426px;
	// @include flex-basis(3);

	background-color: #eeeeee;
	border-radius: 5px;
	padding: 5px 10px 0;
	width: 260px;
	height: 45px;
	display: inline-flex;
	justify-content: center;
	justify-content: space-around;
	align-items: baseline;
}

.price {
	color: $accent-dark;
	font-size: 24px;
}

.period {
	color: #546269;
	font-size: 18px;
}

/* -------------- Contact Us -------------- */

section.contacts {
	//
	.container {
		@include media(desktop) {
			column-gap: 144px;
		}
	}

	.description {
		max-width: 650px;
	}
}

.subscribe-form {
	display: flex;
	gap: 30px;
}

.subscribe-form-input {
	width: 425px;
	height: 70px;
	border: 1px solid $accent-light;
	border-radius: 10px;
	min-height: 100%;
	// padding: 20px 30px;
	padding-left: 30px;

	&::placeholder {
		color: $accent-light;
		font-family: inherit;
		@include fz-lh(16, 30);
		// margin-left: 30px;
	}
}

.subscribe-form-button {
	@include media(desktop) {
		min-width: 312px;
		padding: calc(20px - $border-width) 56px;
	}
}

/* -------------- Footer -------------- */

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-top: 1px solid $footer-border;

	margin: 36px 0;

	@include media(desktop) {
		margin: 55px 0;
	}
}

.footer-menu {
	display: flex;
	gap: $footer-items-spacing;

	font-size: 24px;
	color: $accent-light;
}
