:root {
	font-family: $primary-font;
}

body {
	color: $accent-dark;
	background-color: $contrast;
	font-size: $primary-font-size;
	line-height: 1.5;
}

.container {
	// outline: auto;
	display: flex;

	padding-left: $container-padding;
	padding-right: $container-padding;
	margin-left: auto;
	margin-right: auto;

	@each $device, $width in $breakpoints {
		@include media($device) {
			width: $width;
		}
	}
}

// .section {}

// Links

%link,
.link {
	text-decoration: none;
	font-weight: 500;

	@include transition(color);

	// &:hover,
	// &:focus,
	// &.current {
	// 	color: ;
	// }
}

// Logo

.logo {
	@extend .link;

	// font-family: $primary-font;
	@include fz-lh(24, 36);
	color: #000;

	@include media(desktop) {
		@include fz-lh(36, 54);
	}

	& span {
		color: $logo-alt;
	}
}

// Buttons

.button {
	border: none;
	border: $border-width solid transparent;
	border-radius: $border-radius;

	@include fz-lh(14, 21);
	padding: calc(14px - $border-width) 43px;

	@include media(desktop) {
		@include fz-lh(20, 30);
		padding: calc(15px - $border-width) 51px;
	}

	@include transition-multiple(color, background-color);

	background-color: $accent-dark;
	color: $contrast;

	&:hover,
	&:focus {
		color: #000;
		background-color: $contrast;
		border-color: $accent-dark;
	}

	&.unfilled {
		color: #000;
		background-color: $contrast;
		border-color: $accent-dark;

		&:hover,
		&:focus {
			background-color: $accent-dark;
			color: $contrast;
		}
	}
}

// Text

.section-title {
	font-weight: 600;
	color: #000;
	@include fz-lh(24, 80);
	margin-bottom: 60px;

	@include media(desktop) {
		@include fz-lh(48, 60);
	}
}

.subsection-title {
	font-weight: 600;
	font-size: 30px;
	color: $accent-dark;
	margin-bottom: 20px;
}

.description {
	color: $accent-light;
	margin-bottom: 30px;
}
