:root {
	font-family: $primary-font;
}

body {
	color: $accent-dark;
	background-color: $contrast;
	font-size: $primary-font-size;
	line-height: 1.5;
}

// Links

%link,
.link {
	text-decoration: none;
	font-weight: 500;

	@include transition(color);

	// &:hover,
	// &:focus,
	// &.current {
	// 	color: ;
	// }
}

.section {
	display: flex;
	gap: 144px;
}

// Logo

.logo {
	@extend .link;

	// font-family: $primary-font;
	@include fz-lh(36, 54);
	// display: block;
	color: #000;

	& span {
		color: $logo-alt;
	}
}

// Buttons

.button {
	border: none;
	border-radius: $standard-radius;
	font-size: to-rem(20);
	letter-spacing: 0.03em;

	@include transition-multiple(color, background-color);

	background-color: $accent-dark;
	color: $contrast;

	&:hover,
	&:focus {
		color: #000;
		background-color: $contrast;
	}

	.unfilled {
		color: #000;
		background-color: inherit;
		border: 2px solid $accent-dark;

		&:hover,
		&:focus {
			background-color: $accent-dark;
			color: $contrast;
		}
	}
}

// Text

.section-title {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 60px;
	color: #000;
}

.subsection-title {
	font-weight: 600;
	font-size: 30px;
	color: $accent-dark;
	margin-bottom: 20px;
}

.description {
	color: $accent-light;
}
