/* My defaults */

html {
	scroll-behavior: smooth;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	cursor: pointer;
	font-family: inherit;
	text-align: center;
}

address {
	font-style: normal;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
