// Breakpoints

$mobile: 320px;
$phablet: 575px;
$tablet: 768px;
$tablet-wide: 992px;
$desktop: 1338px;

$breakpoints: (
	"mobile": 320px,
	"phablet": 575px,
	"tablet": 768px,
	"tablet-wide": 992px,
	"desktop": 1338px,
);

// Fonts
$primary-font: "Poppins", sans-serif;
// $primary-font-size: 14px;
$primary-font-size: 2opx;

// Colors
$accent-light: #8f95a5;
$accent-dark: #263238;
$contrast: #fff;
$count-gray: #2a3246;
$skill-bg: #f5f5f5;
$footer-border: #c4c4c4;
$logo-alt: #939393;

:root {
	background-color: #e5e5e5;

	/* Color variables	 */
	--accent-light: #8f95a5;
	--accent-dark: #263238;
	--count-gray: #2a3246;
	--skill-bg: #f5f5f5;
	--footer-border: #c4c4c4;
	--logo-alt: #939393;
}

// Text
$dark: #555555;
$darker: #303030;
$light: #9da4bd;

// Background
$bg-default: #fff;
$bg-dark: #191c26;
$bg-light: #f7f7f7;

// Borders
$border-radius: 10px;
$border-width: 2px;

// Spacings
$regular-gap: 30px;

$single-spacing: 20px;
$double-spacing: $single-spacing * 2;
$large-spacing: 40px;

$list-spacing: 10px;
$menu-items-spacing: 50px;
$footer-items-spacing: 80px;
$section-title-spacing: 60px;

// $container-padding: 15px;
$desktop-version-margin: 215px;

:root {
	--container-padding: 31px;

	@media screen and (min-width: $tablet) {
		--container-padding: 39px;
	}
	@media screen and (min-width: $desktop) {
		--container-padding: 15px;
	}
}
$container-padding: var(--container-padding);

:root {
	--section-padding: 84px;

	@media screen and (min-width: $tablet) {
		--section-padding: 100px;
	}
	@media screen and (min-width: $desktop) {
		--section-padding: 120px;
	}
}
$section-padding: var(--section-padding);

// $section-padding-mobile: 84px;
// $section-padding-tablet: $single-spacing * 5;
// $section-padding-desktop: $single-spacing * 6;

// Positioning
$z-header: 1;
$z-backdrop: 10;
$z-modal: 100;

// Transitions
$transition-duration: 300ms;
$transition-timing-function: ease-in-out;
